.videos-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 16px;
    scroll-behavior: smooth;
  
    /* Стилизация скроллбара */
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
  
  .videos-container::-webkit-scrollbar {
    height: 8px;
  }
  
  .videos-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .videos-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .item-wrapper {
    flex: 0 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
  }
  